@font-face {
  font-family: 'Ogg';
  src: url('../fonts/Ogg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OggText';
  src: url('../fonts/OggText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreTermes';
  src: url('../fonts/TeXGyreTermes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreTermes';
  src: url('../fonts/TeXGyreTermes-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OggText';
  color: #1D2545;
  font-size: 20px;
  background-color: #fffff5;
}

h1 {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: normal;
}
